:root {
    --fuente-principal: "Roboto", sans-serif;
    --color-background: #f1f0ee;
    --fuente-secundaria: "Tagesschrift", system-ui;
    --font-size-title: 1.4rem;
    --btn-box-shadow: 1px 3px 6px #666666;
    --btn-text-align: center;
    --btn-border-radius: 3rem;
    --btn-padding: 0.7rem;
    --btn-background: #31271d;
    --fuente-terciaria: "Playfair Display", serif;
    --fuente-cuarta: "Outfit", sans-serif;
}


* {
    padding: 0;
    margin: 0;
}

img {
    width: 150px;
    height: 200px;
}

body {
    background: #e2d9c8;
}

.container {
    margin: 1.5rem;
}


/* HEADER - NAV - LOGO */
.header {
    background-image: url(barista.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    /* negro con opacidad */
    background-blend-mode: soft-light;
    /* combina el color con la imagen */

    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 16.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}

.menu span {
    font-size: 1.5rem;
}

.menu_container {
    display: none;
    position: absolute;
    background: black;
    line-height: 2rem;
    padding: 1rem;
    left: 5rem;
    font-size: 1.3rem;

}

.menu ul li {
    list-style: none;

}

.container_title {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    padding: 1.3rem 0;
}

.subtitle {
    padding: 0.5rem 0
}

.btn {
    width: 7rem;
    padding: 0.7rem;
    margin: 2rem 5.5rem;
    border-radius: 3rem;
    text-align: center;
    background: #ffff;
    box-shadow: 1px 3px 6px #666666;
    color: black;
}

/* ICONS SECTION */

.icons {
    display: flex;
    gap: 4.5rem;
    justify-content: center;
    padding: 2rem;
}

.icons i {
    font-size: 2rem;
    color: #2c2218;
}

.icons p {
    display: none;
}

/* GALLERY SECTION */

.section_container_grid {
    background: #f1f0ee
}

.section2_title {
    font-family: var(--fuente-principal);
    padding-top: 3rem;
    margin: 0 2rem 2rem 2rem;
    text-align: center;
    font-size: var(--font-size-title)
}

.container_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1000px;
    gap: 2rem;
    margin: 0 auto;
    padding: 0 4rem;
    padding-bottom: 4rem;
}

.card {
    background: #edeae3;
    text-align: center;
}

.img_grid {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 1.5rem;
    padding-top: 1.2em;
}

.title_grid {
    font-size: 1.5rem;
    font-family: var(--fuente-secundaria);
    padding: 1rem 1.3rem;
    text-align: start;
    letter-spacing: 0.1rem;
}

.subtitle_grid {
    text-align: start;
    padding: 0 1.3rem;
    font-family: var(--fuente-principal);
}

.price_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.title_price {
    font-family: var(--fuente-secundaria);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.btn_card {
    color: white;
    background: var(--btn-background);
    padding: var(--btn-padding);
    box-shadow: var(--btn-box-shadow);
    border-radius: var(--btn-border-radius);
    text-align: var(--btn-text-align);
    font-family: var(--fuente-principal);
}


/* SECCION 3 CHECKOUT*/

.container_checkout {
    background-image: url(seccion3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 16rem;
    text-align: center;
    padding: 1rem;
}

.title_checkout {
    color: var(--btn-background);
    font-family: var(--fuente-cuarta);
    padding-top: 4.5rem;
    font-size: 2rem;
    text-shadow: .2rem 0.2rem rgb(255, 255, 255);
}

.btn_checkout {
    font-family: var(--fuente-principal);
    text-align: var(--btn-text-align);
    box-shadow: var(--btn-box-shadow);
    border-radius: var(--btn-border-radius);
    background: var(--btn-background);
    padding: 1.2rem;
    color: white;
    width: 12rem;
    margin: 1.5rem auto;
    font-family: var(--fuente-terciaria);
    letter-spacing: .1rem;
    font-size: 1rem;
}

/* SECTION 4 REVIEWS */

.container_comments {
    background: #f1f0ee;
    padding: 2rem;
}

.puntos {
    display: none;
}

.subtitle_comments {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 2rem;
}

.title {
    font-family: var(--fuente-principal);
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 0;
}

.photo_customers {
    width: 8rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 5rem;
    border: 2px solid rgb(58, 28, 4);
}

.container_comments_column {
    display: flex;
    flex-direction: column;

}

.comments {
    background: #eeebe6;
    text-align: center;
    padding: 1.3rem;
    text-align: center;
    margin: 1rem;
    border-radius: 2rem;
}

.name {
    font-family: var(--fuente-terciaria);
    font-weight: bolder;
    font-size: 1.5rem;
}

.comment_side {
    padding: .2rem;
}

.stars {
    padding: .5rem;
}

.comments_text {
    font-family: var(--fuente-principal);
    padding: .1rem;
}

/* SECTION NEWSLETTERS */


.container_newsletters {
    background-image: linear-gradient(rgba(134, 116, 116, 0.51), rgba(157, 151, 151, 0.47)), url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23rem;
}

.text_newsletters {
    padding: 3rem;
    text-align: center;
    font-family: var(--fuente-principal);
    font-weight: bolder;
    font-size: 1.3rem;
    text-shadow: .1rem 0.1rem rgb(13, 12, 12);
    color: white;
}


.subtitle_newsletters {
    margin-top: .5rem;
}


.form {
    font-size: 1.2rem;
    text-align: center;

}

#email {
    width: 90%;
    height: 2rem;
    padding: 1.4rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
}

#email::placeholder {
    font-family: var(--fuente-principal);
}

#email:focus {
    border: 1px solid rgb(43, 15, 15);
    font-family: var(--fuente-principal);
}

.btn_form {
    font-family: var(--fuente-principal);
    background: var(--btn-background);
    color: white;
    padding: 1.2rem;
    text-align: center;
    border-radius: var(--btn-border-radius);
    box-shadow: var(--btn-box-shadow);
    margin-top: 2rem;
}

/*FOOTER*/

.footer {
    background: #2c2218;
}

.container_footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.subtitle_footer {
    color: #9e958e;
    font-family: var(--fuente-principal);
}

.title_footer {
    color: #d8d2cf;
    font-family: var(--fuente-terciaria);

}

.container_privacy {
    padding: 1rem 0;
}

.logo_footer {
    color: #e6e4e3;
    font-size: 1.6rem;
    font-family: "Tagesschrift", system-ui;

}

.iconos {
    font-size: 1.3rem;
    color: #e6e4e3;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

/* ADAPTABILIDAD TABLET */

@media only screen and (min-width: 768px) {
    .container_footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .iconos {
        justify-content: space-between;
    }

    .container_iconos .title_footer {
        margin-top: 1rem;
    }

    .menu_container {
        display: flex;
    }

    .menu_burger {
        display: none;
    }

    .menu ul {
        display: flex;
    }

    .menu ul li {
        display: flex;
        padding: 0 1.4rem;
    }

    .menu {
        justify-content: space-around;
    }

    .title_header {
        text-align: start;
    }

    .container_title {
        padding: 1.3rem 12rem;
    }

    .container_comments_column {
        flex-direction: row;
    }

    #email {
        width: 50%;
    }

    .text_newsletters {
        padding: 7rem 3rem 0rem 3rem;
    }
}

/*ADAPTABILIDAD XXS*/
@media only screen and (max-width: 366px) {
    .title_header {
        font-size: 1.3rem;
    }

    .icons {
        gap: 3.5rem;
    }

    .container_grid {
        padding: 0 2rem;
    }

}


/*ADAPTABILIDAD ORDENADORES*/
@media only screen and (min-width: 992px) {
    .container {
        margin: 4rem;
    }

    .container_title {
        padding: 8rem 15rem;
    }

    .menu span {
        font-size: 2rem;
    }

    .menu_container {
        font-size: 1.5rem;
    }

    .lupa {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .title_header {
        font-size: 2rem;
    }

    .header {
        height: 35rem;
        padding-top: 2rem;
    }

    .btn {
        width: 8rem;
        padding: 1rem;
    }

    .container_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .mug_hot i {
        font-size: 3rem;
        padding-left: 4rem;
    }

    .mug_hot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .icons p {
        display: flex;
        padding-top: 1rem;
        padding-left: 3rem;
        font-family: var(--fuente-secundaria);
    }

    .container_footer {
        justify-content: space-around;
    }

    .puntos {
        display: flex;
        width: 2rem;
        margin: 0 auto;
        height: 2rem;
    }
}

/*GRID CODIGO ARA DESPUES 

    grid-template-columns: 1fr 1fr 1fr 1fr;*/